<!DOCTYPE html>
<html>
  	<head>
				<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-KK7FGSD');</script>
		<!-- End Google Tag Manager -->

		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/assets/favicon.png">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<title>Rocket Elevators | Home</title>
		<meta name="description" content="">
		<meta name="Author" content="Claude St-Laurent">
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />


		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

		<%= stylesheet_link_tag    'application', media: 'all'%>
    	<%= javascript_include_tag 'application'%>
		<!-- CORE CSS -->
		<%= stylesheet_link_tag    'plugins/bootstrap/css/bootstrap.min', media: 'all'%>
		<!-- REVOLUTION SLIDER -->
		<%= stylesheet_link_tag    'plugins/slider.revolution/css/extralayers', media: 'all'%>
		<%= stylesheet_link_tag    'plugins/slider.revolution/css/settings', media: 'all'%>
<%# 
		<script src="assets/javascripts/quote-form.js"></script>
		<script src="assets/javascripts/scripts.js"></script>
		<script src="assets/javascripts/currency.min.js"></script>
		<script src="assets/javascripts/alert.js"></script> %>


		<%# <!-- REVOLUTION SLIDER -->
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
		<script src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
		<script src="assets/js/view/demo.revolution_slider.js"></script> %>

		<!-- THEME CSS -->
		<%= stylesheet_link_tag 'essentials'%>
		<%= stylesheet_link_tag 'layout'%>

		<!-- PAGE LEVEL SCRIPTS -->
		<%= stylesheet_link_tag 'header-1'%>
		<%= stylesheet_link_tag 'red'%>

		<script>var plugin_path = 'assets/plugins/';</script>
	</head>

	<body class="enable-animation">
				<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KK7FGSD"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<!-- End Google Tag Manager (noscript) -->
			<%= render 'home/header' %>
			<%= yield %>
			<%= render 'home/footer' %>
	</body>
</html>
